## R Stuff
.Rproj.user
*.Rproj.user
*.Rproj
.Rhistory
.RData
.Ruserdata
public/
static/slides/appliedR/pammtools18/


## dropbox
*.dropbox.attr
static/slides/appliedR-slides/.git
*_files/
*_gen/

/.quarto/
