/*
* @Author: abhs
* @Date:   2017-09-01 23:41:02
* @Last Modified by:   adibender
* @Last Modified time: 2017-09-15 16:38:29
*/

.home-section {
  background-color: #FFFFF8;
  padding: 110px 0 110px 0;
  animation: intro 0.3s both;
  animation-delay: 0.15s;
}

.home-section:nth-of-type(even) {
  background-color: #EEEEE6;
}


/* social media colors */
.big-icon {
  font-size: 2rem;
  color: #203D8A;
}

/* General Link colors */

a {
    color: #203D8A;
}


/* navigation bar */
.navbar-default {
  background: #D4D4CD;
  box-shadow: 0 0.125rem 0.25rem 0 rgba(0,0,0,.11)
}

nav#navbar-main li {
  font-size: 22px;
}


.square {
  float: left;
  display: inline-block;
/*  clear: left;*/
  width: 20px;
  height: 20px;
  margin: 5px;
  border: 1px solid rgba(0, 0, 0, .2);
}

.square2 {
  f/*loat: right;*/
  display: inline;
  width: 20px;
  height: 20px;
  margin: 5px;
  border: 1px solid rgba(0, 0, 0, .2);
}

.union {
  background: #000000;
}

.spd {
  background: #E3000F;
}
.greens {
  background: #46962b;
}
.fdp {
  background: #eec900;
}
.left {
  background: #cd1076;
}
.pirates {
  background: #A52A2A;
}
.afd {
  background: #87CEEB;
}
.others {
  background: #808080;
}

