/*
* @Author: abhs
* @Date:   2017-09-01 23:41:02
* @Last Modified by:   adibender
* @Last Modified time: 2017-09-02 04:01:47
*/

.home-section {
  background-color: #FFFFF8;
  padding: 110px 0 110px 0;
  animation: intro 0.3s both;
  animation-delay: 0.15s;
}

.home-section:nth-of-type(even) {
  background-color: #EEEEE6;
}


/* social media colors */
.big-icon {
  font-size: 2rem;
  color: #203D8A;
}

/* General Link colors */

a {
    color: #203D8A;
}


/* navigation bar */
.navbar-default {
  background: #D4D4CD;
  box-shadow: 0 0.125rem 0.25rem 0 rgba(0,0,0,.11)
}

nav#navbar-main li {
  font-size: 22px;
}